body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #fbc2eb, #a6c1ee);
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #e91e63;
  font-size: 26px;
}

p {
  font-size: 40px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  gap: 15px; /* Espacio entre tarjetas */
}

.card {
  background: #ffe6f0;
  padding: 18px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.2s;
  width: 260px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #c2185b;
}

.card:hover {
  transform: scale(1.05);
  background: #ffd6e7;
}

.principal {
  margin: auto;
  margin-bottom: 25px;
  width: 300px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-contenido {
  margin: auto;
  display: block;
  max-width: 85%;
  border-radius: 15px;
}

.cerrar {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
